/*
–––––––––––––––––––––––––––––––––––––––
  ███╗   ███╗  █████╗  ██╗ ███╗   ██╗
  ████╗ ████║ ██╔══██╗ ██║ ████╗  ██║
  ██╔████╔██║ ███████║ ██║ ██╔██╗ ██║
  ██║╚██╔╝██║ ██╔══██║ ██║ ██║╚██╗██║
  ██║ ╚═╝ ██║ ██║  ██║ ██║ ██║ ╚████║
  ╚═╝     ╚═╝ ╚═╝  ╚═╝ ╚═╝ ╚═╝  ╚═══╝
–––––––––––––––––––––––––––––––––––––––
*/

@import "helper/core";

@import "color";
@import "base";

$background-color: color("grey", "lighten-3");

@import "atom/blockquote";
@import "atom/button";
@import "atom/input";
@import "atom/list";
@import "atom/link";
@import "atom/code";
@import "atom/hr";
@import "atom/tag";
@import "atom/select";
@import "atom/touch-event";
@import "atom/toggle";
@import "atom/checkbox";
@import "atom/preloader";
@import "atom/progress-bar";
@import "atom/ball-pulse";

@import "molecule/form";
@import "molecule/fieldset";
@import "molecule/center";
@import "molecule/navbar";
@import "molecule/breadcrumb";
@import "molecule/list-sub-menu";
@import "molecule/list-item";
@import "molecule/list-empty";
@import "molecule/chat-input";
@import "molecule/chat-input-action-picker";
@import "molecule/chat-bubble";
@import "molecule/chat-special-bubble";
@import "molecule/chat-filter";
@import "molecule/chat-separator";
@import "molecule/profile";
@import "molecule/drop-down";
@import "molecule/modal";
@import "molecule/someone-is-typing";
@import "molecule/hero";
@import "molecule/page";

@import "template/login";
@import "template/chat";
@import "template/list";
@import "template/admin";
@import "template/not-found";

@import "molecule/toastr";


html, body, #app-container, #render-target {
	width:100%;
	height:100%;
	position:relative;
	background-color: $background-color;
	overflow: hidden;
}

svg {
  display:none;
}

$sub-container-offset: $breadcrumb-height + $navbar-height;

$chat-sub-container-offset: $breadcrumb-height + $chat-input-height;
$chat-with-filter-sub-container-offset: $breadcrumb-height + $chat-filter-height + $chat-input-height;

$chat-open-sub-container-offset: $breadcrumb-height + $chat-input-open-height;
$chat-open-with-filter-sub-container-offset: $breadcrumb-height + $chat-filter-height + $chat-input-open-height;

.sub-container {
	height: calc(100% - #{$sub-container-offset});
	top: $breadcrumb-height;
	width:100%;
	overflow-y:scroll;
	position:absolute;
}

.chat-sub-container, .chat-with-filter-sub-container {
	height: calc(100% - #{$chat-sub-container-offset});
	top: $breadcrumb-height;
	width:100%;
	overflow-y:scroll;
	position:absolute;
	transition: height 200ms ease;
	&.open {
		height: calc(100% - #{$chat-open-sub-container-offset});
	}
}


.chat-with-filter-sub-container {
	height: calc(100% - #{$chat-with-filter-sub-container-offset});
	top: $breadcrumb-height + $chat-filter-height;
	&.open {
		height: calc(100% - #{$chat-open-with-filter-sub-container-offset});
	}
}


.circle-img {
	border-radius: 100%;
}
.grade-color {
	background-color: #b55dcb;
	color: white;
}

.info-color {
	background-color: #e49f39;
	color: white;
}

.hero-color {
	background-color: #ee4e8c;
	color: white;
}

.group-color {
	background-color: #42abe5;
	color: white;
}

.tools-color {
	background-color: #42abe5;
	color: white;
}

.badge-color {
	background-color: #e5bf3a;
	color: white;
}

.pollz-color {
	background-color:#2e9fd6;
	color:white;
	border:none;
}

.action-color {
	background-color:#e55148;
	color:white;
	border:none;
}

.people-color {
	background-color:#b177ef;
	color:white;
	border:none;
}

.event-color {
	background-color:#e9b51a;
	color:white;
	border:none;
}

.feedback-color {
	background-color:#f690d8;
	color:white;
	border:none;
}

.money-color {
	background-color:#6cc13d;
	color:white;
	border:none;
}


i.icon-pollz-color {
	color:#2e9fd6!important;
}

i.icon-action-color {
	color:#e55148!important;
}

i.icon-people-color {
	color:#b177ef!important;
}

i.icon-event-color {
	color:#e9b51a!important;
}

i.icon-feedback-color {
	color:#f690d8!important;
}

i.icon-money-color {
	color:#6cc13d!important;
}
.competences {
  margin-bottom: 15px;
  padding: 10px 20px;
}
.competences h4 {
  margin-bottom:5px;
  font-family: sans-serif;
}
.competences h4 i {
  margin-right:5px;
}
.competences .tag {
  margin-right:0px;
  text-transform: uppercase;
}
.competences .tag + .tag {
  margin-right: 2px;
  margin-left: 0px;
}
.private-message {
  text-decoration: underline;
  color:white;
  margin-bottom: 10px;
  display:inline-block;
}

.statistics {
  padding-top: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #ccc;
}

.statistic {
  display:inline-block;
  width:120px;
  text-align:center;
  font-family: sans-serif;
}

.statistic i {
  font-size: 4rem;
  display: block;
  opacity:0.3;
}

.statistic span:first-of-type {
  display:block;
}

.statistic span:last-child {
  text-transform: uppercase;
  opacity:0.5;
  font-size: 1.2rem;
}
.onboarding {
  overflow-y: auto;
  overflow-x: hidden;
  .slide {
    height: 80%;
    img {
      display: block;
      margin-top: 30px;
      height: 75%;
      margin: auto;
      width: auto;
    }
    h4, p {
      text-align:center;
    }
    h4 {
      margin-top: 30px;
    }
    p {
      padding: 0px 10px;
      margin-bottom: 5px;
      font-family: sans-serif;
    }
  }
  .steps {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .step {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #9f1618;
    display:inline-block;
    position:relative;
    &:after {
      content:"";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: white;
      display:inline-block;
      transform: scale(0);
      transition: transform 200ms ease;
    }
    &.active:after {
      transform: scale(1);

    }
  }
  .pass {
    border-top: 1px solid #ccc;
    button {
      padding: 10px 10px;
    }
  }
}
