.update-avatar-wrapper {
  background: #fff;
  margin: 1em;
}

.update-avatar-wrapper p {
  padding: 0.5em;
  font-weight: 700;
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview img {
  padding: 0.5em;
  max-height: 200px;
  width: auto;
}
