.admin {
	padding-top: $text-size;
	>h5 {
		font-family: $nav-font;
		text-align: center;
		text-transform: uppercase;
	}
	.button-box {
		margin-bottom: $text-size * 1.5;
	}
	form {
		margin: 0 auto;
		label {
			margin-top:$text-size / 2;
			display:inline-block;
			font-family: $nav-font;
			color:color("grey", "base");
		}
	}
	input {
		width:60%;
	}
	h5, form {
		z-index: 1;
		position:relative;
	}
}
