$login-width: 250px;

.login {
	background-color: black;
	background-image: url("img/splash.jpg");
	background-size: cover;
	background-position: center;
	z-index: 0;
	overflow-y: scroll;
	&:after {
		content:"";
		position:absolute;
		z-index: -1;
		width:100%;
		height:100%;
		background-color: rgba(0,0,0,0.4);
	}
	.center-wrapper {
		width: $login-width;
		border-radius:3px;
		transform: translateY(-10%);
		h1,h2,h3,h4,h5,h6 {
			text-align: center;
			color:white;
			font-family: "eurofurence_regular";
		}
		h1, h2, h3 {
			margin-top:0;
		}
		img {
			position:absolute;
			margin: 0 auto;
			left:0;
			right:0;
			top:-70px;
			width:auto;
		}
		button {
			margin-top:0;
			margin-bottom:0;
			border:none;
			overflow: hidden;
			&::after {
				background-color:rgba(color("grey","darken-2"), 0.2);
				position: absolute;
				margin-top: -($login-width / 2);
				margin-left: -($login-width / 2);
				width: $login-width;
				height: $login-width;
			}
		}
		.extra-content {
			width:$login-width;
			text-align: center;
			position:absolute;
			bottom: -70px;
			.error {
				display:none;
				&.visible {
					display:block;
				}
			}
			a {
				text-align: center;
				color:white;
				display:block;
			}
			a.lost-password {
				margin-bottom:2.5rem;
			}
			a.subscription {
				font-size: 1.7rem;
			}
		}
	}
	&.register .center-wrapper {
		transform: none;
	}
}
