.user-header {
  width: 100%;
  height: 200px;
  background-image: url('http://semantic-ui.com/images/backgrounds/2.jpg');
  background-color: #EAEAEA;
  background-position: cover;
}

.user-header .left {
    color: white;
    padding: 40px;
}

.user-header .left .avatar {
  background-size: cover;
  border: 2px solid #F8F8F8;
  height: 8em;
  width: 8em;
  border-radius: 100%;
  float: left;
}

.user-header .left .info {
  text-transform: capitalize;
  float: left;
  font-size: 1.5em;
  padding: 0.1em;
  margin-left: 15px;
}

.box {
  background: #fff;
  margin: 0.5em 0 0.5em 0;
  width: 100%;
}
