.fa-accessory {
  right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  color: #9A9898;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 1px;
  height: 100%;
  font-size: 16px;
}

/*
  item
  */
.guild {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}

.guild h2 {
  margin: 0 0 2px 0;
  font-size: 16px;
  font-weight: normal;
}

.guild p {
  color: #666;
  font-size: 14px;
  margin-bottom: 2px;
}

.guild .item-content,
.guild .item-content h2,
.guild .item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.guild .item-content {
  position: relative;
  z-index: 2;
  padding: 16px 49px 16px 16px;
  border: none;
  background-color: #fff;
}

a.item-content {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.guild,
.guild .item-content {
  padding-left: 80px;
  min-height: 60px;
}

.guild .item-content > .wrap-img > img:first-child {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: 15px;
}
.guild .item-content > .wrap-img {
  text-align: center;
  position: absolute;
  background: #333;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 100%;
}

.guild  {
  padding-top: 0;
  padding-left: 0;
}
