
.uxpin-icon.achievement:before {
    content: "\e600";
}

.uxpin-icon.add-user:before {
    content: "\e601";
}

.uxpin-icon.at:before {
    content: "\e602";
}

.uxpin-icon.bag:before {
    content: "\e603";
}

.uxpin-icon.bell:before {
    content: "\e604";
}

.uxpin-icon.book:before {
    content: "\e605";
}

.uxpin-icon.bookmark:before {
    content: "\e606";
}

.uxpin-icon.box:before {
    content: "\e607";
}

.uxpin-icon.brush:before {
    content: "\e608";
}

.uxpin-icon.bulb:before {
    content: "\e609";
}

.uxpin-icon.calculator:before {
    content: "\e60a";
}

.uxpin-icon.calendar:before {
    content: "\e60b";
}

.uxpin-icon.camcorder:before {
    content: "\e60c";
}

.uxpin-icon.camera:before {
    content: "\e60d";
}

.uxpin-icon.chart:before {
    content: "\e60e";
}

.uxpin-icon.checkmark:before {
    content: "\e60f";
}

.uxpin-icon.chemistry:before {
    content: "\e610";
}

.uxpin-icon.clip:before {
    content: "\e611";
}

.uxpin-icon.clock:before {
    content: "\e612";
}

.uxpin-icon.cloud:before {
    content: "\e613";
}

.uxpin-icon.cog:before {
    content: "\e614";
}

.uxpin-icon.compass:before {
    content: "\e615";
}

.uxpin-icon.compose:before {
    content: "\e616";
}

.uxpin-icon.credit-card:before {
    content: "\e617";
}

.uxpin-icon.cursor:before {
    content: "\e618";
}

.uxpin-icon.dashboard:before {
    content: "\e619";
}

.uxpin-icon.database:before {
    content: "\e61a";
}

.uxpin-icon.display:before {
    content: "\e61b";
}

.uxpin-icon.download:before {
    content: "\e61c";
}

.uxpin-icon.envelope:before {
    content: "\e61d";
}

.uxpin-icon.file:before {
    content: "\e61e";
}

.uxpin-icon.folder:before {
    content: "\e61f";
}

.uxpin-icon.gift:before {
    content: "\e620";
}

.uxpin-icon.graph:before {
    content: "\e621";
}

.uxpin-icon.heart:before {
    content: "\e622";
}

.uxpin-icon.home:before {
    content: "\e623";
}

.uxpin-icon.invisible:before {
    content: "\e624";
}

.uxpin-icon.iPad:before {
    content: "\e625";
}

.uxpin-icon.iPhone:before {
    content: "\e626";
}

.uxpin-icon.joystick:before {
    content: "\e627";
}

.uxpin-icon.key:before {
    content: "\e628";
}

.uxpin-icon.life-belt:before {
    content: "\e629";
}

.uxpin-icon.lightning:before {
    content: "\e62a";
}

.uxpin-icon.like:before {
    content: "\e62b";
}

.uxpin-icon.link:before {
    content: "\e62c";
}

.uxpin-icon.macbook:before {
    content: "\e62d";
}

.uxpin-icon.magnifying-glass:before {
    content: "\e62e";
}

.uxpin-icon.map:before {
    content: "\e62f";
}

.uxpin-icon.megaphone:before {
    content: "\e630";
}

.uxpin-icon.message:before {
    content: "\e631";
}

.uxpin-icon.microphone:before {
    content: "\e632";
}

.uxpin-icon.money:before {
    content: "\e633";
}

.uxpin-icon.movie-file:before {
    content: "\e634";
}

.uxpin-icon.package:before {
    content: "\e635";
}

.uxpin-icon.pen:before {
    content: "\e636";
}

.uxpin-icon.pencil:before {
    content: "\e637";
}

.uxpin-icon.pencil-ruler:before {
    content: "\e638";
}

.uxpin-icon.picture-file:before {
    content: "\e639";
}

.uxpin-icon.piggybank:before {
    content: "\e63a";
}

.uxpin-icon.pin:before {
    content: "\e63b";
}

.uxpin-icon.printer:before {
    content: "\e63c";
}

.uxpin-icon.quote:before {
    content: "\e63d";
}

.uxpin-icon.share:before {
    content: "\e63e";
}

.uxpin-icon.shield:before {
    content: "\e63f";
}

.uxpin-icon.sight:before {
    content: "\e640";
}

.uxpin-icon.site-map:before {
    content: "\e641";
}

.uxpin-icon.sound:before {
    content: "\e642";
}

.uxpin-icon.spanner:before {
    content: "\e643";
}

.uxpin-icon.star:before {
    content: "\e644";
}

.uxpin-icon.stoper:before {
    content: "\e645";
}

.uxpin-icon.suitcase:before {
    content: "\e646";
}

.uxpin-icon.tack:before {
    content: "\e647";
}

.uxpin-icon.tag:before {
    content: "\e648";
}

.uxpin-icon.telephone:before {
    content: "\e649";
}

.uxpin-icon.text-file:before {
    content: "\e64a";
}

.uxpin-icon.transport:before {
    content: "\e64b";
}

.uxpin-icon.trash:before {
    content: "\e64c";
}

.uxpin-icon.trolley:before {
    content: "\e64d";
}

.uxpin-icon.visible:before {
    content: "\e64e";
}

.uxpin-icon.wallet:before {
    content: "\e64f";
}

.uxpin-icon.window:before {
    content: "\e650";
}

.uxpin-icon.world:before {
    content: "\e651";
}