
/*
	Markup :

	<div className="breadcrumb">
	  <div class="back-button touch-event">
	    <i className="icon icon-3x icon-chevron-left"/>
	  </div>
	  <h4 className="text">Vos groupes de discussion</h4>
	  <div class="logout-button touch-event">
	    <i className="icon icon-3x icon-exit"/>
	  </div>
	</div>
*/


$breadcrumb-height: 50px;
$breadcrumb-size-of-icon: 25px;

$breadcrumb-info-width: 200px;

$breadcrumb-touch-size: $breadcrumb-height * 1.5;
$breadcrumb-info-touch-size: $breadcrumb-info-width * 1.5;

$breadcrumb-base-index: 9999;

.breadcrumb {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	height:$breadcrumb-height;
	background-color:#16162b;
	z-index: $breadcrumb-base-index;
	//box-shadow: 0 4px 10px rgba(color("grey", "darken-2"), .25);
	.back-button {
		width:$breadcrumb-height;
		height:$breadcrumb-height;
		position:relative;
		float:left;
		i {
			position:absolute;
			font-size: $breadcrumb-size-of-icon;
			top: ($breadcrumb-height - $breadcrumb-size-of-icon) / 2;
			left: ($breadcrumb-height - $breadcrumb-size-of-icon) / 2;
			color:white;
		}
		&::after {
			background-color:rgba(white, 0.3);
			width:$breadcrumb-touch-size;
			height:$breadcrumb-touch-size;
			margin-left:-($breadcrumb-touch-size / 2);
			margin-top:-($breadcrumb-touch-size / 2);
		}
	}
	img {
		margin: 5px;
		width:40px;
	}
	.right-button {
		@extend .back-button;
		float:right;
	}
	.text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color:white;
		font-family: $nav-font;
		margin:0;
		height:40px;
		margin-top: 10px;
		display:inline-block;
		float:left;
		max-width: 37%;
	}
	&:after {
		clear:both;
		content:"";
	}
}
