
/*
	A noter : pour avoir un bloc qui utilise une hauteur en pourcentage
			  il faut obligatoirement que tous ses parents jusqu'au html
			  aient une taille définie ( ici grâce à .screen-box )

	Markup :

	<div className="screen-box center">
	  <div class="center-wrapper">
	  	// ton contenu 
	  </div>
	</div>
*/

.screen-box {
	width:100%;
	height:100%;
	position:relative;
}

.center {
	display:flex;
	.center-wrapper {
		position:relative;
		margin:auto;
	}
}