
/*

	Markup :

    <div className="chat-filter">
        <div class="filter-item filter-item-active touch-event">
            Tous les messages
        </div>
        <div class="filter-item touch-event">
            Un autre filtre
        </div>
    </div>
*/

$chat-filter-height: 50px;
$chat-filter-open-height: 150px;

.chat-filter {
	background-color: color("grey", "lighten-4");
	width:100%;
	position:fixed;
	top: $breadcrumb-height;
	height: $chat-filter-height;
	text-align: center;
	box-shadow: 0 4px 10px rgba(color("grey", "darken-1"), .25);
	.filter-item {

		-webkit-user-select:none;

		display:inline-block;
		color:color("grey", "darken-3");
		background-color: color("grey", "lighten-4");
		padding:16px;
		&.active {
			background-color: color("grey", "lighten-3");
		}
		i {
			margin-left:5px;
			opacity:0.5;
		}
		/* override de .touch-event */
		&::after {
			width:100px;
			height:100px;
			margin-left:-50px;
			margin-top:-50px;
			background-color: color("grey", "lighten-2");
		}
	}

	&.open {
		height:$chat-filter-open-height;
	}
}
