$base-index: 9999999;

.drop-down {
	position: absolute;
	right: 0;
	top: 60px;
	width: 300px;
    height: 500px;
    overflow: hidden;
    float:right;
	.touch-event {
		width:$breadcrumb-height;
		height:$breadcrumb-height;
		position:relative;
		float:right;
		i {
			position:absolute;
			font-size: $breadcrumb-size-of-icon;
			top: ($breadcrumb-height - $breadcrumb-size-of-icon) / 2;
			left: (($breadcrumb-height - $breadcrumb-size-of-icon) / 2) + 3;
			color:white;
		}
		&::after {
			background-color:rgba(white, 0.5);
			width:$breadcrumb-touch-size;
			height:$breadcrumb-touch-size;
			margin-left:-($breadcrumb-touch-size / 2);
			margin-top:-($breadcrumb-touch-size / 2);
		}
	}
	.drop-down-menu {
		position:absolute;
		right:-300px;
		width:300px;
		top:0px;
		z-index: $base-index;
		transition: all 200ms ease;
	}
	ul {
		margin:0;
		li {
			margin: 0;
		}
	}
	.drop-down-menu-link {
		display:inline-block;
		background-color: white;
		border-bottom:1px solid color("grey","lighten-4");
		padding:10px 20px;
		width:100%;
		color: color("grey","base");
	}
	&.drop-down--open {
		.drop-down-menu {
			right:0;
		}
	}
}


.drop-down-bottom {
	position:fixed;
	width: 100%;
	text-align: center;
	bottom:-200%;
	left: 0;
	z-index: $base-index;
	overflow: hidden;
	transition: all 200ms ease;
	//box-shadow: 0 -4px 10px rgba(color("grey", "darken-2"), .15);
	.drop-down-overlay {
		width:100%;
		min-height:400px;
		z-index: $base-index - 1;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.2) 100%);
	}
	ul {
		z-index: $base-index + 1;
		margin:0;
		li {
			margin: 0;
		}
	}
	.drop-down-menu-link {
		display:inline-block;
		background-color: white;
		border-bottom:1px solid color("grey","lighten-3");
		padding:15px 20px;
		width:100%;
		color: color("grey","base");
	}
	&.drop-down-bottom--open {
		bottom:0;
	}
}
