
/*

	Note : Définit un bloc de formulaire
	       contenant un input avec icone

	Markup :

	  <fieldset className="large has-icon">
	    <i className="icon icon-lock"></i>
	    <input
	      className="large"
	      type="password"
	      placeholder="Password"
	    />
	  </fieldset>

*/

$base-index: 0;

fieldset {
	border:none;
	margin:0;
	padding:0;
	position:relative;
	font-family: $nav-font;
    display: inline-block;
    &.large {
    	width:100%;
    }
	input[type="submit"] {
		margin-top:$text-size;
	}
	label {
		display: block;
		margin-bottom: .5rem;
		font-weight: 600;
		i {
			margin-right: 5px;
			font-size: 1.3rem;
		}
	}
	&.merge {
		input {
			margin:0;
			display:block;
			border-radius: 0px;
		}
		input:first-of-type {
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
		}
		input:nth-last-child(1) {
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			border-top: none;
		}
	}
	&.has-icon {
		input {
			z-index: $base-index;
			padding-left:40px;
		}
		i {
			z-index: $base-index + 1;
			position:absolute;
			top:15px;
			left:13px;
			opacity:0.5;
		}
		&.small {
			i {
				top:13px;
			}
		}
	}
}
