.hero-list .list{
  display:flex;
  flex-flow: row wrap;
  .item {
    width:33%;
    padding:10px;
    cursor:pointer;
    p {
      text-align: center;
      font-size: 1.2rem;
      font-family: $nav-font;
      margin-top:.5rem;
    }
    img {
      margin-bottom:0;
    }
  }
}

.hero-modal {
  text-align: center;
  p {
    font-family: $nav-font;
  }
}
