.list-item {
	width:100%;
	min-height: 80px;
	border-bottom:1px solid color("grey", "lighten-2");
	background-color: white;
	padding:$text-size * 1.5;
	position:relative;
	-webkit-user-select: none;
	&.sub-list {
		border-left:10px solid color("grey", "lighten-1");
	}
	&:nth-child(2n) {
		background-color: #fbfbfb;
	}
	img {
		position:absolute;
		width:40px;
		height:40px;
		margin-right:$text-size;
		border-radius:100%;
	}
	.icon-img {
		position:absolute;
		width:40px;
		height:40px;
		margin-right:$text-size;
		border-radius:100%;
		i {
			padding:10px;
		}
	}
	.list-item-content {
		margin: 0 60px 0 60px;
		max-width: 100%;
		.title {
			margin:0;
			@include multi-line-ellipsis();
		}
		.text {
			margin:0;
			span {
				font-weight: bold;
				font-style: italic;
				margin-right:$text-size / 2;
			}
			@include multi-line-ellipsis();
			font-family: $nav-font;
			color:color("grey", "lighten-1");
		}
	}
	.list-item-action {
		position:absolute;
		right: $text-size;
		top: calc(50% - 25px);
		button {
			margin:0;
			margin-top: 3%;
		}
	}
	.list-item-notif {
		position:absolute;
		right: $text-size;
		top: calc(50% - 25px);
		padding: 10px 20px 10px 21px;
		border-radius: 100%;
		color: white;
		background-color: color("danger", "lighten-2");
		border: 1px solid color("danger", "darken-1");
		box-shadow: inset 1px 1px 1px color("danger", "darken-1");
		font-weight: bold;
		font-size: 2rem;
		border-radius: 100%;
		line-height: 30px;
		font-family: $nav-font;
	}
	.icon-chevron-right {
		position:absolute;
		right:$text-size * 1.5;
		top: calc(50% - 15px);
		color:color("grey", "lighten-2");
		transition: transform 200ms ease;
	}
	&:hover {
		.icon-chevron-right {
			transform: translateX(5px);
		}
	}
	&::after {
		width:2000px;
		height:2000px;
		margin-left:-1000px;
		margin-top:-1000px;
	}
}