.list-item {
	width:100%;
	min-height: 70px;
	border-bottom:1px solid color("grey", "lighten-2");
	background-color: white;
	padding:$text-size;
	position:relative;
	-webkit-user-select: none;
	font-family: $nav-font;
	&.list-user-item {
		height:80px;
		p {
			line-height: 80px;
		}
	}
	img {
		position:absolute;
		width:40px;
		height:40px;
		margin-right:$text-size;
		opacity:0.8;
		&.circle {
			border-radius: 100%;
		}
	}
	.icon-img {
		position:absolute;
		width:40px;
		height:40px;
		margin-right:$text-size;
		border-radius:100%;
		i {
			padding:10px;
		}
	}
	.list-item-content {
		max-width: 100%;
		>div {
			margin-left:55px;
		}
		.title {
			margin:0;
			font-size: 1.5rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			height:21px;
			width: 80%;
			margin-left:55px;
			text-transform: capitalize;
		}
		.text {
			margin:0;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			height:20px;
			width: 80%;
			margin-left:55px;
			span {
				font-weight: bold;
				font-style: italic;
				margin-right:$text-size / 2;
			}
			font-family: $nav-font;
			color:color("grey", "lighten-1");
		}
	}
	&.has-notif {
		.list-item-content .title, .list-item-content .text {
			width: calc(80% - 60px);
		}
	}
	&.sub-list {
		border-left:10px solid color("grey", "lighten-1");
	}

	&:nth-child(2n) {
		background-color: #fbfbfb;
	}
	.list-item-action {
		position:absolute;
		right: $text-size;
		top: calc(50% - 25px);
		button {
			margin:0;
			margin-top: 6px;
		}
	}
	.list-item-notif {
		position:absolute;
		right: 18px;
		top: calc(50% - 20px);
		padding: 5px 14px 5px 14px;
		color: white;
		border-radius: 100%;
		background-color: color("danger", "lighten-2");
		font-weight: bold;
		font-size: 2rem;
		line-height: 30px;
		font-family: $nav-font;
		i {
			position: absolute;
	    font-size: 2.9rem;
	    opacity: 0.3;
	    color: white;
	    left: 16%;
	    top: 5%;
		}
	}
	&.small {
			min-height:50px;
			.title {
				margin-left: 35px;
				.value {
					margin-left:5px;
					font-weight: bold;
				}
			}

			.circle {
				position: absolute;
		    width: 28px;
		    height: 28px;
		    border-radius: 100%;
		    top: 11px;
		    left: 11px;
		    overflow: hidden;
				i {
					display: block;
					padding: 3px 3px;
					height: 29px;
					font-size: 2.1rem;
					&.icon-badge, &.icon-grade, &.icon-tools {
						padding-left:5px;
					}
					&.icon-users {
						padding: 2px 4px;
					}
				}
			}
	}
	.list-item-action p {
		color: color("grey", "lighten-1");
		font-family: $nav-font;
	}
	&.no-image {
		.title, .text, .tag {
			margin-left:7px;
		}
	}
	.icon-chevron-right {
		position:absolute;
		right:1.1rem;
		top: calc(50% - 8px);
		color:color("grey", "lighten-1");
		transition: transform 200ms ease;
	}
	&:hover {
		.icon-chevron-right {
			transform: translateX(5px);
		}
	}
	&::after {
		width:2000px;
		height:2000px;
		margin-left:-1000px;
		margin-top:-1000px;
	}
}
