.list-item {
	width:100%;
	min-height: 80px;
	border-bottom:1px solid color("grey", "lighten-2");
	background-color: white;
	padding:$text-size * 1.5;
	position:relative;
	-webkit-user-select: none;
	&.list-user-item {
		height:80px;
		p {
			line-height: 80px;
		}
	}
	img {
		position:absolute;
		width:40px;
		height:40px;
		margin-right:$text-size;
		opacity:0.4;
	}
	.icon-img {
		position:absolute;
		width:40px;
		height:40px;
		margin-right:$text-size;
		border-radius:100%;
		i {
			padding:10px;
		}
	}
	.list-item-content {
		max-width: 100%;
		>div {
			margin-left:65px;
		}
		.title {
			margin:0;
			font-size: 1.8rem;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			height:21px;
			width: 80%;
			margin-left:65px;
		}
		.text {
			margin:0;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			height:20px;
			width: 80%;
			margin-left:65px;
			span {
				font-weight: bold;
				font-style: italic;
				margin-right:$text-size / 2;
			}
			font-family: $nav-font;
			color:color("grey", "lighten-1");
		}
	}
	&.has-notif {
		.list-item-content .title, .list-item-content .text {
			width: calc(80% - 60px);
		}
	}
	&.sub-list {
		border-left:10px solid color("grey", "lighten-1");
	}
	&:nth-child(2n) {
		background-color: #fbfbfb;
	}
	.list-item-action {
		position:absolute;
		right: $text-size;
		top: calc(50% - 25px);
		button {
			margin:0;
			margin-top: 3%;
		}
	}
	.list-item-notif {
		position:absolute;
		right: 18px;
		top: calc(50% - 25px);
		padding: 10px 20px 10px 21px;
		color: white;
		border-radius: 100%;
		background-color: color("danger", "lighten-2");
		font-weight: bold;
		font-size: 2rem;
		line-height: 30px;
		font-family: $nav-font;
		i {
			position: absolute;
	    font-size: 4rem;
	    opacity: 0.3;
	    color: white;
	    left: 15%;
	    top: 4%;
		}
	}

	.icon-chevron-right {
		position:absolute;
		right:$text-size * 1.5;
		top: calc(50% - 15px);
		color:color("grey", "lighten-2");
		transition: transform 200ms ease;
	}
	&:hover {
		.icon-chevron-right {
			transform: translateX(5px);
		}
	}
	&::after {
		width:2000px;
		height:2000px;
		margin-left:-1000px;
		margin-top:-1000px;
	}
}
