/* # Input
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
	  display:inline-block;
	  height: auto;
	  padding: $text-size;
	  margin-bottom:$text-size;
	  background-color: #fff;
	  border: 1px solid #D1D1D1;
	  border-radius: 4px;
	  box-shadow: none;
	  position:relative;
	  transition:all 200ms ease-in-out;
	  font-family: $nav-font;
		&::-webkit-input-placeholder {
			color: color("grey", "lighten-2");
		}
	}

	input.small {
    	padding:12px;
	}

	input.big {
		padding: $text-size * 2;
	}

	label {
		font-weight: 500;
	}

	input:focus,
	textarea:focus,
	select:focus {
	  outline: 0;
		border: 1px solid color("grey","base");
		&::-webkit-input-placeholder {
			color: color("grey", "lighten-1");
		}
	}

	input[disabled='disabled'] {
      background-color: color("grey", "lighten-1");
    }

    input.large, textarea.large, select.large {
    	width: 100%;
    }

    input[type="submit"] {
    	font-family: $nav-font;
    }

    input[type="radio"] {

    }

		input[type="file"] {
			margin-bottom:1rem;
    }
