/* include this only once */
@-webkit-keyframes spin {
    0%   {
        transform: rotate(0deg);  
    }
    100% {
        transform: rotate(360deg);
    }
}

#preloader {
    display: block;
    position: relative;

    width: 50px;
    height: 50px;
    margin: auto;

    z-index: 1500;
    border: 3px solid transparent;
    border-top-color: #9E9E9E;

    border-radius: 50%;
    animation: spin  5s linear infinite;

   &:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #9E9E9E;
    border-radius: 50%;
    animation: spin 2s linear infinite;
   }
   &:after{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #9E9E9E;
    border-radius: 50%;
    animation: spin 1s linear infinite;
   }

}



// $circle-size: 35px;
// $border-size: 10px;

// $button-size: 50px;
// $number-of-buttons: 8;

// $centered-button-pos: $circle-size / 2 - $button-size / 2;
// $base-delay: 0.20;
// $x:0;
// $y:0;
// $pi: pi();

// $base-angle: 50deg; // defines the first button place
// $offset-angle: 52; // defines the separation angle between each buttons
// $radius: $circle-size * 0.85;

// .preloader {
//   &>div {
//     -webkit-filter: url("#fancy-goo");
//     margin:auto;
//     position:relative;
//     width:0px;
//     height:0px;
//     padding:30px;
//     &>div {
//       position:absolute;
//       width:10px;
//       height:10px;
//       border-radius:100%;
//       transition: all 200ms ease;
//       top:0;
//       left:0;
//       margin-left:10px;
//       margin-top:10px;
//       background-color: #c79595;
//     }
//   }
// }

// @for $i from 1 through $number-of-buttons {
//     $x: $radius * cos($base-angle);
//     $y: $radius * sin($base-angle);
//     .circle-#{$i} {
//         transform: translateX($x + 10)
//         translateY($y + 10)
//         rotate(0deg);
//         animation:pop-in ease-in-out #{$number-of-buttons*$base-delay}s  #{$base-delay*$i}s infinite alternate;
//     }
//     // incrementing base angle
//     $base-angle: $base-angle + $offset-angle;
// }

// @keyframes pop-in{
//   0%{
//   width:10px;
//   height:10px;
//   }
//   50%{
//   width:19px;
//   height:19px;
//   }
//   100%{
//   width:10px;
//   height:10px;
  
//   }
// }