.coinz-item {
  background: #fff;
  border-radius: 20px;
  border: 1px solid #AAA;
  padding: 10px 10px 10px 60px;
}

.coinz-pie {
  position: absolute;
}

.coinz-percent {
  color: #333;
  font-size: 13px;
}

.coinz-pie i {
  color: #888;
  font-size: 30px;
  margin-left: -45px;
  padding-top: 2px;
}

.coinz-title {
  color: blue;
  font-size: 14px;
  padding-bottom: 12px;
}

.coinz-prop-count {
  padding-right: 5px;
}

.coinz-prop {
  padding-bottom: 8px;
}
