.poll-item {
  background: #fff;
  border-radius: 20px;
  border: 1px solid #AAA;
  padding: 10px 10px 10px 60px;
}

.poll-pie {
  position: absolute;
  /*height: 100%;*/
}

.poll-percent {
  color: #333;
  font-size: 11px;
}

.poll-pie i {
  color: #888;
  font-size: 30px;
  margin-left: -45px;
  padding-top: 2px;
}

.poll-title {
  color: blue;
  font-size: 14px;
  padding-bottom: 12px;
}

.poll-prop-count {
  padding-right: 5px;
}

.poll-prop {
  padding-bottom: 8px;
}
